.nav-left-sidebar {
  transition: 0.5s;
  position: absolute;
  width: 400px;
  height: auto;
  top: 20px;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  font-family: Avenir-demi;
}

.nav-left-sidebar .navbar-nav {
  width: 100%;
}

.nav-left-sidebar .navbar {
  position: relative;
  padding: 14px;
}

.nav-left-sidebar .navbar-nav .nav-link {
  font-size: 16px;
  padding: 12px;
  color: white !important;
  transition: 0.3s;
}

.nav-left-sidebar .nav-link i {
  font-size: 14px;
  margin-right: 9px;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active{
  border-bottom: 2px solid #fff;
}

.nav-left-sidebar .navbar-nav .custom-nav-link{
  transition: all 0.3s ease-in;
}
.nav-left-sidebar .navbar-nav .custom-nav-link:hover {
  padding-left: 25px;
}

.nav-item {
  border-bottom: 1px solid lightgrey;
}

.nav-left-sidebar .navbar-toggler {
  background-color: #fff;
}
.navbar-toggler {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  height: 100px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.sidebar-dark {
  /* background: #1e2126 !important; */
  background: transparent !important;
  /* box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.7),
    -5px -5px 10px rgba(60, 66, 71, 0.7) !important; */
}

.main-heading-hover {
  position: relative;
  text-transform: uppercase;
  /* margin-bottom: 30px; */
  padding-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1;
}
/* .main-heading-hover:before {
  content: "";
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  transition: 0.5s;
} */


.sidebar-nav-fixed {
  position: sticky;
  top: 10rem;
}

.sidebar-nav-fixed ul li a {
  font-size: 14px;
  color: #71728e;
  display: block;
  padding: 5px 15px;
  background: transparent;
  border-radius: 4px;
  line-height: 1.8;
}

.sidebar-nav-fixed ul li a.active {
  display: block;
  background: #e0e0fd;
}

@media (max-width: 1100px) {
  .side-toggler {
    display: none;
  }
  .nav-left-sidebar {
    display: none;
  }
}